.container {
  background-color: #ff8700;
  padding: 40px 0;
}

.conta-secao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.texto-conta {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}

.conta-secao a {
  background-color: white;
  padding: 15px 100px;
  border-radius: 8px;
  max-width: fit-content;
  color: #ff8700;
  font-weight: bold;
}

@font-face {
  font-family: inter;
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 800;
}

.conta-secao h1 {
  font-family: inter;
  color: white;
  width: 460px;
  font-size: 40px;

}

.conta-secao p {
  color: white;
  font-size: 20px;
  width: 500px;
  font-weight: bold;
}

.conta-secao a:hover {
  color: #383838;
  background-color: rgb(219, 219, 219);
}